html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
*{
    box-sizing: border-box;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.screen {
	width: 320px;
	height: 640px;
	position: absolute;
	margin: 0 auto;
	right: 0;
	left: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	background-color: #c8aa79;
	border: 10px solid #c8aa79;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	overflow: hidden;
}
.square {
	width: 32px;
	height: 32px;
	border: 5px solid #000;
}
.square::before {
	content: "";
	width: 14px;
	height: 14px;
	background: #000;
	display: block;
	margin: 4px auto;
}
.car {
	width: 96px;
	height: 128px;
}
.car-inside{
    position: relative;
	width: 96px;
	height: 128px;
}
.car .square{
    position: absolute;
}
.car .square:nth-child(1){
    right: 0;
    bottom: 0;
}
.car .square:nth-child(2) {
	left: 0;
	bottom: 0;
}
.car .square:nth-child(3) {
	right: 32px;
	bottom: 32px;
}
.car .square:nth-child(4) {
	right: 0;
	bottom: 64px;
}
.car .square:nth-child(5) {
	left: 0;
	bottom: 64px;
}
.car .square:nth-child(6) {
	right: 32px;
	top: 0;
}
.user-car {
	position: absolute;
	bottom: 0;
	left: 64px;
}
.user-car.right {
	position: absolute;
	bottom: 0;
    right: 64px;
    left: auto;
}
.op-car {
	position: absolute;
	top: 0;
	left: 64px;
}
.op-car.right {
	position: absolute;
	top: 0;
    right: 64px;
    left: auto;
}
.blocks {
	width: 32px;
	height: 100%;
}
.blocks.block-left{
    position: absolute;
    left: 0;
    top: 0;
}
.blocks.block-right{
    position: absolute;
    right: 0;
    top: 0;
}
.blocks-inner {
	width: 100%;
	height: 640px;
	position: relative;
}
.blocks-inner .square {
    position: absolute;
    right: 0;
}


$elements: 11;
@for $i from 0 to $elements {
    .blocks-inner .square:nth-child(#{$i + 1}) {
        bottom: #{$i * 64 + px} ;
    }
}
$elements: 11;
@for $i from 0 to $elements {
    .blocks-inner.moved .square:nth-child(#{$i + 1}) {
        bottom: #{$i * 64 - 32 + px} ;
    }
}


.street {
    height: 640px;
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
}
.first-car{
	transform: translateY(-320px);
}