<template>
    <div class="screen">
        <Street />
        <Car class="user-car" id="userCar" />
    </div>
</template>

<script>
import Car from '@/components/Car'
import GoRight from '@/mixins/actions/GoRight';
import GoLeft from '@/mixins/actions/GoLeft';
import CheckKey from '@/mixins/actions/CheckKey';
import Street from '@/components/Street';
export default {
    name: 'Play',
    mixins: [GoRight, GoLeft, CheckKey],
    components: {
        Car,
        Street
    },
    mounted(){
        document.onkeydown = this.CheckKey;
    },
}
</script>