<template>
    <div class="blocks">
        <div class="blocks-inner" id="blocksInner">
            <Square v-for="n in 11" :key="n" />
        </div>
    </div>
</template>

<script>
import Square from '@/components/Square';
export default {
    name: 'blocks',
    components: {
        Square,
    },
}
</script>