<template>
    <div class="car">
        <div class="car-inside">
            <Square/><Square/><Square/><Square/><Square/><Square/>
        </div>
    </div>
</template>

<script>
import Square from '@/components/Square'
export default {
    name: 'Car',
    components: {
        Square,
    }
}
</script>