<template>
    <div class="street" id="street">
        <Blocks class="block-left" id="blockLeft" />
        <div id="carsHolder">
            <Car class="op-car first-car" />
        </div>
        <Blocks class="block-right" id="blockRight" />
    </div>
</template>

<script>
import Blocks from '@/components/Blocks';
import Car from '@/components/Car';
import checkAccident from '@/mixins/actions/checkAccident';
import Vue from 'vue'
import { delay } from 'q';

export default {
    name: 'Street',
    components: {
        Blocks,
        Car
    },
    mixins: [checkAccident],
    mounted(){

        var delayTime = 400;
        var _this = this;
        var street = document.getElementById("street");
        var carsHolder = document.getElementById("carsHolder");
        var blockLeftInner = document.getElementById("blockLeft").querySelector(".blocks-inner");
        var blockRightInner = document.getElementById("blockRight").querySelector(".blocks-inner");
        var y = 0;
        var m = 0;
        var z = 0;


        setInterval(function(){
            y++;

            //transform street
            var transY = (y * 32);
            street.style.transform = "translateY(" + transY + "px)";


            _this.checkAccident(y);
            

        }, delayTime);


        var blockCreateCycle = delayTime * 2;
        setInterval(function(){
            m++;
            var newSquare = document.createElement("DIV");
            var newSquare2 = document.createElement("DIV");
            newSquare.classList.add("square");
            newSquare2.classList.add("square");
            newSquare.style.bottom = (640 + (m * 64)) + "px";
            newSquare2.style.bottom = (640 + (m * 64)) + "px";
            blockLeftInner.appendChild(newSquare);
            blockRightInner.appendChild(newSquare2);

            if(m > 10){
                blockLeftInner.getElementsByClassName('square')[0].remove();
                blockRightInner.getElementsByClassName('square')[0].remove();
            }
        }, blockCreateCycle);


        //create oponents cars cycle
        var createTime = delayTime * 10;
        setInterval(function(){
            z++;
            var transCar = (320 * (z + 1));
            var ComponentClass = Vue.extend(Car);
            var instance = new ComponentClass();
            instance.$mount();
            var newOponentCar = instance.$el;
            newOponentCar.classList.add("op-car");
            newOponentCar.setAttribute('data-car-id', z);
            newOponentCar.style.transform = "translateY(-" + transCar + "px)";

            var randomNumber = Math.random();
            if(randomNumber > 0.5){
                newOponentCar.classList.add("right");
            }
            carsHolder.appendChild(newOponentCar);

            
            
            if(z > 10){
                var trashCar = document.getElementsByClassName("op-car")[0];
                console.log(trashCar);
                trashCar.remove();
            }

        }, createTime);










        Element.prototype.remove = function() {
            this.parentElement.removeChild(this);
        }
        NodeList.prototype.remove = HTMLCollection.prototype.remove = function() {
            for(var i = this.length - 1; i >= 0; i--) {
                if(this[i] && this[i].parentElement) {
                    this[i].parentElement.removeChild(this[i]);
                }
            }
        }


    },

}
</script>